@import "@/styles/vars";

.aboutSite {
  padding: 160px 0 0;

  &>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  hgroup {
    width: 100%;

    h2 {
      margin-top: 0;
    }
  }

  p,
  li {
    a {
      color: $primary-color;
    }

    strong {
      font-weight: 700;
    }
  }

  article {
    width: calc(100% - 400px);

    h3 {
      font-size: 18px;
      margin-bottom: 25px;
    }

    p {
      margin-bottom: 25px;
    }

    ul {
      padding-left: 40px;
      list-style: disc;
      margin-bottom: 25px;
    }
  }

  img {
    width: 290px;
    height: auto;
    transform: translateY(-120px);
  }
}

@media (min-width: 990px) and (max-height: 830px) {
  .aboutSite {
    padding: 120px 0 0;
  }
}

@media (max-width: 991px) {
  .aboutSite {
    padding: 110px 0 60px;

    &>div {
      display: block;
    }

    article {
      width: 100%;
    }

    img {
      display: none;
    }
  }
}

@media (max-width: 700px) {}