@import "@/styles/vars";

.menu {
  position: relative;

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      &:last-child {
        a {
          color: $black-color;
        }
      }
    }
  }

  a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    transition: all 0.5s ease-out;

    &:hover {
      color: $primary-color;
    }
  }

  &.footer {
    padding-bottom: 80px;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        &:last-child {
          a {
            background-color: transparent;
            color: $white-color !important;
            padding: 5px 0;
            margin-left: 0;
            font-size: 18px;

            &:hover {
              transform: translateY(0);
              color: $primary-color !important;
            }
          }
        }
      }

      a {
        display: block;
        color: $white-color;
        padding: 5px 0;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

@media (max-width: 1040px) {
  .menu {
    &:not(&.footer) {
      top: 79px;
      position: fixed;
      z-index: 0;
      transition: all 0.3s ease-out;
      transform: translateY(-450px);
      right: 0;
      left: 0;
      background-color: $black-color;

      ul {
        display: block;
        padding: 15px 0 40px;

        li {
          &:last-child {
            a {
              margin-top: 20px;
              width: 80%;
            }
          }
        }
      }

      a {
        text-align: center;
        display: block;
        width: 90%;
        margin: 0 auto;
      }

      &.isOpen {
        transform: translateY(0);
      }
    }

    &.footer {
      padding-bottom: 0;

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;

        li {
          &:last-child {
            a {
              min-height: auto;
              padding-top: 0;
              font-weight: 300;
              padding-top: 5px;
            }
          }
        }
      }

      a {
        font-size: 14px !important;
      }
    }
  }
}
